<!DOCTYPE html>
<html>

<head>
    <title>Time Tracker</title>
    <link rel="icon" type="image/x-icon" href="/static/clock.png">

    {% include 'bootstrap.html' %}

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    {% include 'nav.html' %}
    <div class="container">

        {% include 'timesheet_items.html' %}

        <hr>

        {% include 'invoice_items.html' %}

        <!-- {% include 'hospital_items.html' %} -->

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="toast position-absolute bottom-0 end-0 p-3" role="status" aria-live="polite" aria-atomic="true">
            <div class=" toast-header">
                <img src="/static/clock.png" class="rounded me-2" alt="Paw in clock logo" height="24" width="24">
                <strong class="me-auto">Message</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{ message }}
            </div>
        </div>
        <script>
            const toastExample = document.querySelector('.toast')
            const toast = new bootstrap.Toast(toastExample)
            toast.show()
        </script>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>


</body>

</html>